<%= content_for :javascript, "sb-admin" %>
<% provide(:title, "Log in") %>
<%= content_for :body_class, "bg-dark" %>
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
            <%= form_for(:session, url: session_new_url) do |f| %>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <%= f.password_field :password, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember Password</label>
                    </div>
                </div>
                <%= f.submit "Login", class: "btn btn-primary btn-block" %>
                <% end %>
                <div class="text-center">
                <a class="d-block small mt-3" href="register.html">Register an Account</a>
                <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>



