<%= content_for :javascript, "sb-admin" %>

<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<% if current_user %>
Signed in as <%= current_user.name %> | <%= link_to 'Logout', session_destroy_url,  method: :get, class: "" %>
<% else %>
<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
