<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<html>
  <head>
    <title>Cadtkd</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">

    <!-- All the SB Admin styles are currently available. This means you can use whatever element you want from  -->
    <!-- whatever SB Admin page you want.  -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'sb-admin', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- But as we serve JS on a per page basis, the following line is commented. -->
    <!-- Keep in mind that whenever you want to use some JS from the theme's pages -->
    <!-- you must specify from what page you're using it. -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% if :stylesheet %>
      <%= stylesheet_link_tag (yield :stylesheet), media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="CadTKD">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= render "shared/sidemenu_upper" %>
    <%= yield %> 
    <%= render "shared/sidemenu_lower" %>
    <% if :javascript %>
      <%= javascript_include_tag (yield :javascript), 'data-turbolinks-track': 'reload' %>
    <% end %>
  </body>

</html>
