<!DOCTYPE html>
<html>
  <head>
    <title>Cadtkd</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- All the Clean Blog styles are currently available. This means you can use whatever element you want from  -->
    <!-- whatever Clean Blog page you want.  -->
    <%= stylesheet_link_tag    'clean-blog', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- But as we serve JS on a per page basis, the following line is commented. -->
    <!-- Keep in mind that whenever you want to use some JS from the theme's pages -->
    <!-- you must specify from what page you're using it. -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% if :stylesheet %>
      <%= stylesheet_link_tag (yield :stylesheet), media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="CadTKD">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  </head>

  <body class="<%= yield :body_class %>">
    <%= yield %> 
    <% if :javascript %>
      <%= javascript_include_tag (yield :javascript), 'data-turbolinks-track': 'reload' %>
    <% end %>
  </body>

</html>
